.playing {
    background: alpha(@accent_bg_color, 0.15);
    color: @accent_color;
}
.cover-art {
    box-shadow: 0 0 0 1px @outline;
    border-radius: 12px;
    background: @suggested_container_bg_color;
}
.cover-art-blur {
    filter: opacity(0.8) blur(6px);
}
.search {
    border-radius: 999px;
}
.search-bar box {
    background: none;
    box-shadow: none;
}
.play-button {
    -gtk-icon-size: 24px;
    background: @success_container_bg_color;
    color: @success_container_fg_color;
    box-shadow: none;
}
.play-button:hover {
    background: mix(@success_container_bg_color, @view_fg_color, 0.05);
}
.play-button:active {
    background: mix(@success_container_bg_color, @view_fg_color, 0.08);
}
.music-grid {
    background: none;
}
.music-grid child:hover {
    color: @view_fg_color;
}
.side-pane {
    border-radius: 12px;
    margin: 0 8px 8px 8px;
    box-shadow: 0 0 0 1px @borders;
}

.side-pane .bottom-bar {
    border-radius: 0 0 12px 12px;
}

.music-navrail {
    background: shade(@accent_container_bg_color, 0.95);
}

.music-navrail button image {
    background: shade(@accent_container_bg_color, 0.95);
}

.music-navrail button:hover image {
    background: shade(@accent_container_bg_color, 0.9);
}

.music-navrail button:checked image {
    background: shade(@accent_container_bg_color, 0.8);
}

.light {
    background: alpha(@scrim, 0.32);
    border-radius: 999px;
    padding: 8px;
}

.light image {
    -gtk-icon-size: 24px;
    color: @view_bg_color;
}
