.playing {
    background: alpha(@accent_bg_color, 0.15);
    color: @accent_color;
}
.cover-art {
    box-shadow: 0 0 0 1px @borders;
    border-radius: 12px;
    background: @suggested_container_bg_color;
}
.cover-art-blur {
    filter: opacity(0.8) blur(6px);
}
.search {
    border-radius: 999px;
}
.search-bar box {
    background: none;
    box-shadow: none;
}
.play-bar {
    padding: 18px 24px;
}
.play-button {
    -gtk-icon-size: 32px;
    min-width: 95px;
    border-radius: 16px;
    background: @success_container_bg_color;
    color: @success_container_fg_color;
    box-shadow: none;
}
.play-button:hover {
    background: mix(@success_container_bg_color, @view_fg_color, 0.08);
}
.play-button:active {
    background: mix(@success_container_bg_color, @view_fg_color, 0.1);
}
.play-button.playing {
    border-radius: 999px;
    background: @success_bg_color;
    color: @success_fg_color;
}
.media-button {
    -gtk-icon-size: 24px;
    border-radius: 16px;
    background: @suggested_container_bg_color;
    color: @suggested_container_fg_color;
    box-shadow: none;
}
.media-button:hover {
    background: mix(@suggested_container_bg_color, @view_fg_color, 0.08);
}
.media-button:active {
    background: @suggested_bg_color;
    color: @suggested_fg_color;
    border-radius: 999px;
}
.media-toggle-button {
    -gtk-icon-size: 18px;
    background: none;
    color: @view_fg_color;
    box-shadow: none;
}
.media-toggle-button:hover {
    background: mix(@accent_container_bg_color, @view_fg_color, 0.08);
    color: @accent_container_fg_color;
}
.media-toggle-button:active {
    background: mix(@accent_container_bg_color, @view_fg_color, 0.1);
    color: @accent_container_fg_color;
}
.media-toggle-button:checked {
    background: mix(@accent_container_bg_color, @view_fg_color, 0.1);
    color: @accent_container_fg_color;
}

.music-grid {
    background: none;
}
.music-grid child:hover {
    color: @view_fg_color;
}
.side-pane {
    border-radius: 12px;
    margin: 0 8px 8px 8px;
    box-shadow: 0 0 0 1px @borders;
}

.side-pane .bottom-bar {
    border-radius: 0 0 12px 12px;
}

.music-navrail {
    background: shade(@accent_container_bg_color, 0.95);
}

.music-navrail button image,
.music-navrail button label {
    color: @accent_container_fg_color;
}

.music-navrail button image {
    background: shade(@accent_container_bg_color, 0.95);
}

.music-navrail button:hover image {
    background: shade(@accent_container_bg_color, 0.9);
}

.music-navrail button:checked image {
    background: shade(@accent_container_bg_color, 0.8);
}

.light {
    background: alpha(@scrim, 0.32);
    border-radius: 999px;
    padding: 8px;
}

.light image {
    -gtk-icon-size: 24px;
    color: @view_bg_color;
}

.view-lyric text {
    background: none;
    margin: 6px;
    padding: 24px;
}
.view-lyric {
    border-radius: 12px 12px 0 0;
}
